/* @import url('https://fonts.googleapis.com/css27family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #313131 !important;
}

*::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #FF5F1Fd8;
}

/*
  green = #38945E
  black = #0E1111 (used in home page => movie row)
  gray = #868686 (used in filter dropdoens)
  violet = #BA63FF (used in movie page sub-titles) 
  red = #FF0000 (used in heart button in movie page)
*/