.MovieReel {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    /*overflow-y: hidden;
    overflow-x: scroll;*/
    }
  
    .MovieReel::-webkit-scrollbar {
      display: none;
    }

.movieRowHeader {
    color: white;
    padding-top: 10px;
}