.SignIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/Images/bgImage_New.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  align-items: center;
}

.logo {
  width: 124px;
  left: 10px;
  top: 10px;
  position: absolute;
}

.title_SU {
  padding: 10px;
  text-align: center;
}

.SignIn_Box {
  background-color: #130a0c;
  opacity: 0.9;
  color: white;
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  cursor: pointer;
  width: auto;
  background: #ff5f1fab;
}

input::placeholder {
  color: rgb(182, 182, 182);
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #FF5F1Fd8;
}

.bottomLinkWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BottomLinks {
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
  text-align: center;
}

.BottomLinks:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 575px) {
  .title_SU {
    padding: 10px;
    text-align: center;
    font-size: 3vh;
  }
  
  .SignIn_Box {
    width: 90%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 786px) {
  .title_SU {
    padding: 10px;
    text-align: center;
    font-size: 4vh;
  }
  
  .SignIn_Box {
    width: 90%;
  }
}