
.main{
    margin: 11rem auto
  }
  
  
  
  .login {
    margin: 0 auto;
    background-color: rgb(241, 253, 247);
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 85%;
      
  }
  /* notice input has no dot becasue we are calling the html "input" tage from account.js */
  input{
    background-color: #d2d2d2;
    margin: 0 auto;
    padding: 16px;
    border-radius: 13px; 
    text-align: center;
    font-size: 17px;
    color: black;
    
  }
  
  
  
  /* .user_img {
    background-color: #2dbd39;
    margin: 100;
    left: ;
  
  } */
  
  .user_img img {
    
    background-color: #b7f5cc;
    border-radius: 9em;
    /* box-shadow: 0 0.188em 1.550em rgb(175, 243, 175); */
    width: 25%;
    margin: auto;
    position: absolute;
    
    right: 21rem;
  
  }
  
  
  .logo img{
    width: 25%;
    margin: auto;
    position: absolute;
    top: 8rem;
    left: 25rem;
  }
  
  .btn-link {
    border-radius: 100px; 
    cursor: pointer;
    background-color: #bdb7b7;
    box-shadow: var(--box-shadow);
    color: #000000;
    border: 0;
    display: block;
  }