.card-container{
    object-fit: contain;
    width: 100%;  
    max-height: 100px;
    margin-right: 10px;
    transition: 450ms;
}
.card-container:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.card-container img{
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
}