.Movie{
    padding: 10px;
    transition: 500ms;
    flex: 1;
    flex-grow: 0;

}


.Movie:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(.99);

}

.hoverCard{
    color: white;
}