.topBar {
    display: flex;
    width: 100%;
    color: #0dc971d8;
    background-color: #0E1111;
    height: fit-content;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.backIcon {
    display: flex;
    font-size: 24px;
    height: 100%;
    width: 60px;
    font-weight: lighter;
    margin: auto 0;
}

.homeIcon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.homeIcon > i {
    font-size: 30px;
    color: #0dc971d8;

}

.backIcon > i,
.homeIcon > i
{
    padding: 15px;
    margin: auto;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
}

.backIcon > i:hover,
.homeIcon > i:hover
{
    padding: 15px;
    border-radius: 100%;
    background-color: rgba(116, 113, 113, 0.2);
}

.title {
    margin: auto 0;
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-line;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
}



@media screen and (max-width: 575px) {
    .title {
        font-size: 24px;
    }
}