.posterDiv {
    position: relative;
    max-width: 200px ;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.posterWrapper {
    height: 100%;
}

.posterWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.posterDiv .trailerBtn {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: #0E1111;
    justify-content: space-around;
    outline: none;
    border: none;
    color: white;
    transition: all 0.2s ease-in;
}

.posterDiv .trailerBtn:hover {
    background-color: #FF5F1Fd8;
}

@media screen and (max-width:575px) {
    .posterDiv {
        position: relative;
    }
}
