.ForgetPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/Images/bgImage_New.jpg");
    background-size: cover;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent {
    background-color: #130a0c;
    opacity: 0.9;
    color: white;
    padding: 25px;
    margin: 0 3% 0 3%;
    min-width: 50%;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent .ForgetPasswordHeading {
    font-size: xx-large;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .ForgetPasswordLogo {
    width: 60px;
    left: 10px;
    top: 10px;
    position: absolute;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent .Form{
    padding: 0 8%;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="email"],
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="text"],
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    resize: vertical;
    border: 0;
    border: none;
    background: #333333;
    color: white;
    outline: none;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="email"]:focus,
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="text"]:focus,
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="password"]:focus {
    outline: none;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="email"]::placeholder,
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="text"]::placeholder,
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="password"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="email"]:-ms-input-placeholder,
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="text"]:-ms-input-placeholder,
  .ForgetPasswordContainer .ForgetPasswordContent .Form input[type="password"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-transform: uppercase;
  }
  
  .ForgetPasswordContainer .ForgetPasswordContent button{
    cursor: pointer;
    padding: 15px;
    background: #ff5f1fab;
    border: none;
  }
  .ForgetPasswordContainer .ForgetPasswordContent button:hover{
    background-color: #FF5F1Fd8;
  }
  
  @media only screen and (max-width: 575px) {
    .ForgetPasswordContainer .ForgetPasswordContent .Form{
      padding: 0;
    } 
  
    .ForgetPasswordContainer .ForgetPasswordContent .ForgetPasswordHeading {
      font-size: x-large;
    }
  
    .ForgetPasswordContainer .ForgetPasswordContent {
      min-width: 80%;
    }
  }